
<%= content_for :breadcrumb do %>
  <li class="breadcrumb-item">Home</li>

  <li class="breadcrumb-item active">Raw Materials</li>
<% end %>

<%= content_for :buttons do %>
  <%= link_to new_raw_material_path,class:"btn btn-primary btn-sm float-right" do %>
    <i class="fa fa-plus mr-2"></i> New Raw Material
  <% end %>
<% end %>



<h5>Listing all Raw Materials</h5>
<hr>



<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Material type</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @raw_materials.each do |raw_material| %>
      <tr>
        <td><%= raw_material.name %></td>
        <td><%= raw_material.material_type %></td>
        <td>
          <%= link_to  raw_material,class:"btn btn-sm btn-info" do %>
          <i class="fa fa-eye mr-2"></i> Details
          <% end %>
            </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Raw Material', new_raw_material_path %>
