<%= simple_form_for(@pi) do |form| %>
  <% if pi.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pi.errors.count, "error") %> prohibited this pi from being saved:</h2>

      <ul>
        <% pi.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    
    <%= form.association :customer %>
  </div>

  <div class="form-group">

    <%= form.input :uuid %>
  </div>

  <div class="form-group">

    <%= form.input :order_date %>
  </div>
  <div class="form-group">

    <%= form.input :buyer_order_date %>
  </div>


  <div class="form-group">

    <%= form.input :reference,:label=>"Buyer Order Number" %>
  </div>
  <div class="form-group">

    <%= form.input :destination %>
  </div>
  <div class="form-group">

    <%= form.input :loading_location %>
  </div>
  <div class="form-group">

    <%= form.input :unloading_location %>
  </div>
  <div class="form-group">

    <%= form.input :terms_of_payment %>
  </div>

  <div class="form-group">

    <%= form.input :terms_of_delivery %>
  </div>
  <div class="form-group">

    <%= form.input :country_of_origin %>
  </div>
  <div class="form-group">

    <%= form.input :place_of_receipt_by_shipper %>
  </div>
  <div class="form-group">

    <%= form.input :delivery_weeks %>
  </div>







  <div class="form-group">

    <%= form.input :sales_person %>
  </div>

  <div class="actions">
    <%= form.submit "Create PI",class:"btn btn-success" %>
  </div>
<% end %>
