
<%= content_for :breadcrumb do %>
  <li class="breadcrumb-item">Home</li>

  <li class="breadcrumb-item active">PIs</li>
<% end %>

<%= content_for :buttons do %>
  <%= link_to new_pi_path,class:"btn btn-primary btn-sm float-right" do %>
    <i class="fa fa-plus mr-2"></i> New Proforma Invoice
  <% end %>
<% end %>



<h5>Listing all PIs</h5>
<hr>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Customer</th>
      <th>PI number</th>
      <th>Order date</th>
      <th>Reference</th>

      <th ></th>
    </tr>
  </thead>

  <tbody>
    <% @pis.each do |pi| %>
      <tr>
        <td><%= pi.customer.name %></td>
        <td><%= pi.uuid %></td>
        <td><%= pi.order_date %></td>
        <td><%= pi.reference %></td>

        <td><%= link_to 'Show', pi,class: "btn btn-info btn-sm" %></td>

      </tr>
    <% end %>
  </tbody>
</table>

