<p id="notice"><%= notice %></p>

<h1>Pis</h1>

<table>
  <thead>
    <tr>
      <th>Customer</th>
      <th>Uuid</th>
      <th>Order date</th>
      <th>Reference</th>
      <th>User</th>
      <th>Sales person</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pis.each do |pi| %>
      <tr>
        <td><%= pi.customer_id %></td>
        <td><%= pi.uuid %></td>
        <td><%= pi.order_date %></td>
        <td><%= pi.reference %></td>
        <td><%= pi.user_id %></td>
        <td><%= pi.sales_person %></td>
        <td><%= link_to 'Show', pi %></td>
        <td><%= link_to 'Edit', edit_pi_path(pi) %></td>
        <td><%= link_to 'Destroy', pi, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pi', new_pi_path %>
