<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @pi.customer_id %>
</p>

<p>
  <strong>Uuid:</strong>
  <%= @pi.uuid %>
</p>

<p>
  <strong>Order date:</strong>
  <%= @pi.order_date %>
</p>

<p>
  <strong>Reference:</strong>
  <%= @pi.reference %>
</p>

<p>
  <strong>User:</strong>
  <%= @pi.user_id %>
</p>

<p>
  <strong>Sales person:</strong>
  <%= @pi.sales_person %>
</p>

<%= link_to 'Edit', edit_pi_path(@pi) %> |
<%= link_to 'Back', pis_path %>
