
<%= content_for :breadcrumb do %>
  <li class="breadcrumb-item">Home</li>

  <li class="breadcrumb-item active">Orders</li>
<% end %>

<%= content_for :buttons do %>
  <%= link_to new_order_detail_path,class:"btn btn-primary btn-sm float-right" do %>
    <i class="fa fa-plus mr-2"></i> New Order
  <% end %>
<% end %>



<h5>Listing all Orders</h5>
<hr>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>PI</th>
      <th>Product</th>
      <th>Quantity</th>
      <th>Total amount</th>
      <th>Status</th>
      <th ></th>
    </tr>
  </thead>

  <tbody>
    <% @order_details.each do |order_detail| %>
      <tr>
        <td><%= order_detail.pi.present? ? order_detail.pi.id: "No PI assigned" %></td>
        <td><%= order_detail.product.name + "( "+ order_detail.product.code + ")" %></td>
        <td><%= order_detail.quantity %></td>
        <td><%= order_detail.total_amount %></td>
        <td><%= order_detail.order_state.name %></td>
        <td><%= link_to 'Show', order_detail,class:"btn btn-info btn-sm" %></td>

      </tr>
    <% end %>
  </tbody>
</table>

