
<%= content_for :breadcrumb do %>
  <li class="breadcrumb-item">Home</li>

  <li class="breadcrumb-item "><%= link_to "Orders",order_details_path %></li>
  <li class="breadcrumb-item active">New Orders</li>
<% end %>

<%= content_for :buttons do %>
  <%= link_to order_details_path,class:"btn btn-info btn-sm float-right" do %>
    <i class="fa fa-undo mr-2"></i> Back
  <% end %>
<% end %>

<div class="row">
  <div class="col-sm-12">
    <div class="card mb-0">
      <div class="card-header">
        <h4 class="card-title mb-0">New Order</h4>
      </div>
      <div class="card-body">
        <%= render 'form', order_detail: @order_detail %>
      </div>
    </div>
    <hr>
  </div>
</div>



