
<%= simple_form_for(@cost_sheet_item) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">


    <%= f.association :raw_material %>
    <%= f.association :cost_head %>

    <%= f.hidden_field :cost_sheet_id,:value => (@cost_sheet.nil? ? 2: @cost_sheet.id||=2) %>

    <%= f.input :quantity %>
    <%= f.input :cost %>


  </div>

<% end %>
