<%= form_with(model: stock_level, local: true) do |form| %>
  <% if stock_level.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(stock_level.errors.count, "error") %> prohibited this stock_level from being saved:</h2>

      <ul>
        <% stock_level.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :item_type %>
    <%= form.text_field :item_type %>
  </div>

  <div class="field">
    <%= form.label :item_id %>
    <%= form.number_field :item_id %>
  </div>

  <div class="field">
    <%= form.label :as_on %>
    <%= form.date_select :as_on %>
  </div>

  <div class="field">
    <%= form.label :quantity %>
    <%= form.text_field :quantity %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
