<p id="notice"><%= notice %></p>

<p>
  <strong>Item type:</strong>
  <%= @stock_level.item_type %>
</p>

<p>
  <strong>Item:</strong>
  <%= @stock_level.item_id %>
</p>

<p>
  <strong>As on:</strong>
  <%= @stock_level.as_on %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @stock_level.quantity %>
</p>

<%= link_to 'Edit', edit_stock_level_path(@stock_level) %> |
<%= link_to 'Back', stock_levels_path %>
