<!-- <h2>Log in</h2> -->

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <!-- <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div> -->
  
  <div class="account-content">
    <!-- <a href="job-list.html" class="btn btn-primary apply-btn">Apply Job</a> -->
    <div class="container">
      
      <!-- Account Logo -->
      <div class="account-logo">
        <a href="index.html"><img src="assets/img/logo.png" alt="Dreamguy's Technologies"></a>
      </div>
      <!-- /Account Logo -->
      
      <div class="account-box">
        <div class="account-wrapper">
          <h3 class="account-title">Login</h3>
          <p class="account-subtitle">Access to our dashboard</p>
          
          <!-- Account Form -->
            <div class="form-group">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col">
                  <label>Password</label>
                </div>
                <div class="col-auto">
                  <a class="text-muted" href="forgot-password.html">
                    Forgot password?
                  </a>
                </div>
              </div>
              <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
            </div>
            <div class="form-group text-center">
              <%= f.submit "Log in", class: "btn btn-primary" %>
              <!-- <button class="btn btn-primary account-btn" type="submit">Login</button> -->
            </div>
            <div class="account-footer">
              <p>Don't have an account yet?
                <!-- <a href="register.html">Register</a> -->
                <%= render "devise/shared/links" %>
              </p>
            </div>
            <% end %>
          <!-- /Account Form -->
          
        </div>
      </div>
    </div>
  </div>