<div class="row justify-content-center">
  <div class="col-md-8">
    <div class="card-group">
      <div class="card p-4">
        <div class="card-body">
          <h1>Login</h1>
          <p class="text-muted">Sign In to your account</p>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="input-group mb-3">
            <div class="input-group-prepend"><span class="input-group-text">
                      <svg class="c-icon">
                        <use xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-user"></use>
                      </svg></span></div>

            <%= f.email_field :email, autofocus: true, autocomplete: "email",class:"form-control" %>
          </div>
          <div class="input-group mb-4">
            <div class="input-group-prepend"><span class="input-group-text">
                      <svg class="c-icon">
                        <use xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-lock-locked"></use>
                      </svg></span></div>
            <%= f.password_field :password, autocomplete: "current-password",class:"form-control" %>
          </div>

          <div class="row">
            <div class="col-6">
              <%= f.submit "Log in",class: "btn btn-primary px-4" %>
<!--              <button class="btn btn-primary px-4" type="button">Login</button>-->
            </div>
            <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
              <div class="col-6 text-right">
                <%= link_to "Forgot password?", new_password_path(resource_name),class:"btn btn-link px-0" %><br />
              </div>

            <% end %>


          </div>
          <% end %>
        </div>
      </div>
      <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
        <div class="card-body text-center">
          <div>
            <h2>Sign up</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <a href="<%= new_user_registration_path %>" class="btn btn-lg btn-outline-light mt-3" type="button" >Register Now!</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




