<%= form_with(model: state_transition, local: true) do |form| %>
  <% if state_transition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(state_transition.errors.count, "error") %> prohibited this state_transition from being saved:</h2>

      <ul>
        <% state_transition.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :from %>
    <%= form.number_field :from %>
  </div>

  <div class="field">
    <%= form.label :to %>
    <%= form.number_field :to %>
  </div>

  <div class="field">
    <%= form.label :comment %>
    <%= form.text_area :comment %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :order_detail_id %>
    <%= form.text_field :order_detail_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
