<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= render "globals/meta" %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>


    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" rel="stylesheet">
  </head>

  <body class="c-app">
    <div class="main-wrapper">
      <%= render "globals/header" %>
      <%= render "globals/sidebar" %>
      <div class="page-wrapper">
        <div class="content container-fluid">

          <%= yield %>
        </div>
      </div>
    </div>
  <!-- <div class="c-wrapper c-fixed-components"> -->
    <!-- <div class="c-body"> -->
      <!-- <main class="c-main">
        <div class="container-fluid">
          <div class="fade-in">
          </div>
        </div>
      </main> -->
        <%#= render "globals/footer" %>
    <!-- </div> -->
  <!-- </div> -->
  <!-- CoreUI and necessary plugins-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/chart.js@2.9.1/dist/Chart.min.css">

  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.1/dist/Chart.min.js"></script>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/js/all.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>

  <script type="text/javascript">
      <%= yield :js %>
      $(document).ready(function(){
          $('.owl-carousel').owlCarousel();
          $(".table").DataTable();
      });
  </script>
  <%= javascript_pack_tag "main" %>

  </body>
</html>
